/* Roxo - #57455c
Roxo claro - #7e798c
Amarelo - #feb557
Branco - #FFFFFF */

body{
    font-family: 'Asap', sans-serif;
}
.navbar {
    background-color: #57455c;
}
.nav-link {
    color: #FFFFFF;
}
.nav-link:hover {
    color: #feb557;
}
.btn-primary {
    background: none;
    border: 1px solid #FFFFFF;
}
.btn-primary:hover {
    color: #57455c;
    background: #feb557;
    border: 1px solid #feb557;
}
.noticia-principal{
    margin-bottom: 30px;
}

.noticia-principal img{
    height: 250px;
    max-width: 500px;
}

.card {
    border: none;
}

.realizacao img{
    width: 100px;
    padding: 0px 5px;
}

.footer {
    padding:10px;
    background-color: #57455c;
}

.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
}

/* Add a hover effect if you want */
.fa:hover {
    opacity: 0.7;
}

/* Set a specific color for each brand */

/* Facebook */
.fa-facebook {
    background: #3B5998;
    color: white;
}

/* Twitter */
.fa-twitter {
    background: #55ACEE;
    color: white;
}

.fa-instagram {
    background: #125688;
    color: white;
}

