:root {
    --roxo: #57455c;
    --roxoClaro: #7e798c;
    --amarelo: #feb557;
    --amareloClaro: #fbdaab;
}

body{
    font-family: 'Asap', sans-serif;
}

/*
 *   MENU
 */
.navbar {
    background-color: var(--roxo);
    background-color: 57455c;
    padding: 15px 0;
}

.nav-link {
    color: #FFFFFF;
    margin-right: 10px;
}

.nav-link:hover {
    color: var(--amerelo);
    color: #feb557;
}

.nav.social { margin-left: 5px; }
.navbar .main-menu { line-height: 1.3rem; }
.navbar .menu.nav { align-items: center; }
.navbar .social-icon { margin-left: 15px; }
.navbar .social-icon:hover img { opacity: 0.8; }
.navbar .social-icon img {
    width: 30px;
    height: 30px;
    opacity: 0.3;
    transition: opacity .25s;
    will-change: opacity;
}

/*
 *   BOTÕES
 */

.btn {
    border-radius: 8px;
    padding: 5px 25px;
}
.btn-primary {
    background: none;
    border: 1px solid #FFFFFF;
}
.btn-primary:hover {
    color: #57455c;
    background: #feb557;
    border: 1px solid #feb557;
}

.banner {
    min-height: 500px;
    text-transform: uppercase;
    font-style: italic;
    margin-bottom: 40px;
}

/*
 *   NOTICIAS
 */
.card p { margin: 0; }
.card.noticia-principal .card-text {
    font-size: 18px;
    line-height: 22px;
    overflow: hidden;
    margin: 0;
    max-height: 0;
    transition: max-height .25s;
    will-change: max-height;
}
.card:not(.noticia-principal) .card-body {
    padding-left: 0;
    padding-right: 0;
}
.card .card-img-top {
    width: 100%;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    display: none;
}
.card .card-title {
    font-size: 20px;
    line-height: 22px;
    font-weight: 600;
    border-left: 5px solid var(--amarelo);
    padding-left: 10px;
}
.card .text-muted {
    font-size: 14px;
    line-height: 14px;
    margin-left: 15px;
}

@media min-width( 770px ) {
    .noticia-principal { margin-bottom: 30px; }
    .card.noticia-principal .card-title {
        font-size: 28px;
        line-height: 30px;
    }
    .card.noticia-principal .card-body {
        padding-top: 0;
        padding-bottom: 0;
    }
    .card.noticia-principal .card-text {
        font-size: 22px;
        line-height: 28px;
        max-height: 500px;
    }
}
@media min-width( 1024px ) {
    .card.noticia-principal .card-title {
        font-size: 30px;
        line-height: 36px;
    }
}

/*
 *   CARDS
 */
.card { border: none; }
.como-funciona .passos { background-color: #ccc; }
.footer {
    padding:10px;
    background-color: #57455c;
}

/*
 *   REALIZADORES
 */
.colaboradores-item { text-align: center; }
.colaboradores-item p { margin-bottom: 0; }
.colaboradores-item img {
    margin: 0 auto 15px;
    clip-path: circle(50% at center);
}
.realizacao img{
    width: 100px;
    padding: 0px 5px;
}


/*
 *   CARROUSEL
 */

.bx-wrapper .bx-prev::before { transform: rotateZ(135deg); }
.bx-wrapper .bx-next::before { transform: rotateZ(-45deg); }
.bx-wrapper .bx-prev:active::before { transform: rotateZ(135deg) scale(0.85); }
.bx-wrapper .bx-next:active::before { transform: rotateZ(-45deg) scale(0.85); }

.bx-wrapper {
    box-shadow: unset;
    border: none;
    background: none;
    margin: 50px auto;
}

.bx-wrapper .bx-next,
.bx-wrapper .bx-prev {
    background: none;
}

.bx-wrapper .bx-controls-direction a {
    width: 17px;
    height: 17px;
}

.bx-wrapper .bx-prev::before,
.bx-wrapper .bx-next::before {
    content: '';
    display: block;
    width: 17px;
    height: 17px;
    position: absolute;
    border-right: 4px solid #868686;
    border-bottom: 4px solid #868686;
    border-radius: 4px;
    transition: transform .2s;
}
@media min-width( 770px ) {
    .bx-wrapper .bx-prev { left: -20px; }
    .bx-wrapper .bx-next { right: -30px; }
}